#brand > img {
    height: 40px;
}
.shape1{
    position: absolute;
    top:0;
    right: 0;
    z-index: -1;
    height: 125vh;
    width: 100%;
}

.shape2{
    position: absolute;
    z-index: -1;
    top: 85%;
    right: 0;
    height: 40%;
}

#footer small{
    color: #adadad;
}
